[Desktop Entry]
Version=1.0
Name=XTB Encoder
Comment=XTB Encoder is a GUI for ffmpeg
Exec=/home/user1/Downloads/xtbenc/xtbenc
Path=/home/user1/Downloads/xtbenc/
Icon=/home/user1/Downloads/xtbenc/presets/xtbenc.png
Terminal=false
Type=Application
Categories=AudioVideo;AudioVideoEditing;
